# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# backend - to be deprecated
/backend 

# datafiles 
/data/audio_files/
/transcripts/
/cleaned_transcripts/

# virtual environment 
/fc_venv 
/summ_venv

# cache 
__pycache__/
*.pyc
.ipynb_checkpoints/

# Summary 
summary/Cohere_X_Langchain Podcast.ipynb 
summary/experiment.py
summary/summarise.py
