* {
  text-align: left;
}

.blog > .blog-h2, .blog-h3, .blog-p, .player-wrapper { 
  padding: 0rem 6.2rem;
} 

@media only screen and (max-width: 768px) and (min-width: 330px) {
  .blog > .blog-h2, .blog-h3, .blog-p, .player-wrapper { 
    padding: 0rem 1rem;
  }
}

@media only screen and (max-width: 330px) {
  .blog > .blog-h2, .blog-h3, .blog-p, .player-wrapper { 
    padding: 0rem 0.1rem;
  }
}

.blog > .blog-h3 {
  margin-bottom: 1rem;
}

.btn-wrapper {
  text-align:center;
} 

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 0.7rem 0rem;
  width: auto;
  background: #fff;
  border: 1px solid #5D9C59;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.player-wrapper {
  width: auto; 
  height: auto; 
  padding-top: 1rem;
}

iframe {
  display: block;
  margin: 0 auto;
}
