.NavBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem 6rem;
}

/* Right  */
.AboutContainer {
  display: flex;
  align-items: center;
}

.AboutButton {
    text-decoration: none;
    color: white;
    font-weight: 350;
    font-size: 1.06rem;
}


