.NavBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem 6rem;
}

/* Left */
.TitleContainer {
    display: flex;
    align-items: center;
}

.HomeButton {
    font-size: 1.4rem;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

.Logo {
    width: 50px;
    height: 50px;
}

/* Right  */
.AboutContainer {
  display: flex;
  align-items: center;
}

.AboutButton {
    text-decoration: none;
    color: white;
    font-weight: 350;
    font-size: 1.06rem;
}


