/* .search-bar-container {
  display: block;
  align-items: center;
  width: 100%;
  text-align: right;
  margin-right:auto;
  margin-left:auto;
}
.search-bar {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-weight: 100;
  margin-bottom: 2rem;
  min-height: 10rem;
  font-size: 40px;
}




input[type="search"] {
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;
} */

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  height: 50px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.06em;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: black; 
  outline: none;
}

.search-bar::placeholder {
  color: #767676;
  font-size: 1.06em;
  text-align: center;
}

